/*
font-family: 'Raleway',
font-family: 'Roboto',
*/

/*--------------Base rules-------------------------------*/

body {
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  font-family: 'Roboto';
  background: #fff;
}
ul {
 list-style: none; 
}
 a {
  text-decoration: none;
 }

 a:hover {
   color: #2196F3;
 }

/*-----------------class salector-----------------------*/

.titel-website-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.titel-website-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #fff;
}

.text-blue {
  color: #2196F3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000;
}

.super-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.super-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 216px;
  heigrt: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
}

.titel-invisible {
  visibility: hidden;
}

.subtitel-text-benefits {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text-benefits {
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
}

.main-sections-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-cart-allname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18x;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-cart-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.portfolio-button {
  /*------inuse----*/
  width: 73px;
  height: 38px;
  /*------passive voise-------*/
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62x;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-button:hover {
  background: #2196F3;
  box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio-cart-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-cart-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.section-darck-gray-groud{
  background: #2F303A;
}

.section-gray-groud {
  background: #F5F4FA;
}